/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v8/KFOjCneDtsqEr0keqCMhbCc6CsTYl4BO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

// RESET (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  // outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
iframe {
  display: block;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}

html {
  --c-input-bg: #fff;
  --c-bg: #fdfdfd;
  --c-bg-alt: #1a1a1a;
  --c-text: #212121;
  --c-cta: #1565c0;
  --c-metadata: #5f5f5f;
  --c-input-fg: #212121;
  --c-text-dark-bg: #999999;
  --c-text-dark: #999999;
  --c-heading-article: #000;
  --c-heading-bg: #eeeeee;
  --c-code-bg: #f5f5f5;
  --c-code-fg: #000;
  --c-bg-cta: #fff;
}
@media (prefers-color-scheme: dark) {
  html {
    --c-code-bg: #2d2d2d;
    --c-code-fg: #ddd;
    --c-cta: #03a9f4;
    --c-bg: #262626;
    --c-bg-alt: #222;
    --c-bg-cta: #222;
    --c-text: #d6d6d6;
    --c-text-dark: #8b8b8b;
    --c-text-dark-bg: #dfdfdf;
    --c-input-bg: #3b3a3a;
    --c-input-fg: #fff;
    --c-heading-article: #fff;
    --c-heading-bg: #111;
  }
  html blockquote {
    background-color: #3c3c3c;
  }
}
* {
  box-sizing: border-box;
}
a.reset,
a.reset:hover {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}
html {
  font-size: 120%;
  background: #000000 no-repeat -50px 0px;
  height: 100%;
}
body {
  padding: 0;
  font: 0.625em -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #212121;
  background: #fdfdfd;
  font-size: 100%;
  font-weight: 400;
  line-height: 32px;
  margin: 0 auto 15px auto;
  margin-bottom: 0;
  max-width: 800px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body > main {
  flex-grow: 1;
}
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  border-radius: 2px;
}
a {
  color: #1565c0;
  text-decoration: none;
  border-bottom: 1px solid #1565c0;
}
a:hover,
a:focus {
  background: #1f296c;
  color: #fff;
  border-bottom: none;
  text-decoration: none;
  padding: 2px 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.1;
}
h1 {
  font-size: 180%;
  font-weight: 600;
  line-height: 1.6;
}
h2 {
  font-size: 180%;
  margin-top: 40px;
  line-height: 1.2;
}
h3 {
  font-size: 150%;
}
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}
h4,
.bigger {
  font-size: 125%;
}
p {
  margin: 1.4rem 0;
}
small {
  display: inline-block;
  line-height: 24px;
  font-size: 80%;
}
strong {
  font-weight: bold;
}
#index-page h1,
#index-page h2 {
  color: white;
}
#index-page h1 a,
#index-page h2 a {
  color: white;
  border-color: white;
}
#index-page h1 {
  background: #444444;
}
#index-page article:nth-child(3n + 0) h2.title {
  background: #6d6d6d;
}
#index-page article:nth-child(3n + 1) h2.title {
  background: #888888;
}
#index-page article:nth-child(3n + 2) h2.title {
  background: #949494;
}
.post h1.title {
  margin-top: 0;
  line-height: 1.4;
}
.post h2.title {
  padding: 20px;
}
.post header h2.title {
  padding: 20px 60px;
}
h1.title,
h2.title {
  position: relative;
  background: #eee;
  padding: 20px 60px;
  color: #000;
  margin: 20px 0 20px 0;
}
h1.title a,
h2.title a {
  color: black;
  text-decoration: none;
  border-bottom: none;
}
h1.title a:focus,
h2.title a:focus,
h1.title a:hover,
h2.title a:hover {
  background: none;
  border-bottom: 2px solid var(--c-heading-article);
}
.post-content,
.comments,
.misc-content {
  position: relative;
  margin: 0 40px 20px 40px;
  padding: 0 20px;
}
.subpanel {
  background: #1a1a1a;
  color: #828282;
}
.subpanel a {
  color: #999999;
  border-color: #999999;
}
.subpanel a:hover,
.subpanel a:focus {
  background-color: var(--c-metadata);
  border: none;
  color: #cccccc;
  padding: 2px 0;
}
nav form.search {
  height: 0;
  padding: 0px 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  -webkit-transition: height 50ms ease-in-out;
  -moz-transition: height 50ms ease-in-out;
  -o-transition: height 50ms ease-in-out;
  -ms-transition: height 50ms ease-in-out;
  transition: height 50ms ease-in-out;
}
nav form.search.show {
  height: 45px;
}
nav form.search input[type='text'] {
  border: 0;
  flex-grow: 1;
}
nav form.search input[type='submit'] {
  background: var(--c-input-bg);
  border: 0;
  padding: 0 3%;
}
ul.post-nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 90%;
}
ul.post-nav li {
  display: inline-block;
  padding: 10px 20px;
  padding-right: 20px;
}
ul.post-nav li.next a:after {
  content: ' »';
}
ul.post-nav li.search {
  padding-left: 0;
}
ul.post-nav li.search a {
  border-bottom: none;
  display: inline-block;
  text-indent: -9999px;
  background: url(/images/search.svg) no-repeat center center;
  background-size: 100%;
  width: 1.4em;
  padding: 0;
}
ul.post-nav li.prev a:before {
  content: '« ';
}
.needs-js {
  display: none !important;
}
html {
  background-image: url(/images/background.jpg);
  background-size: 920px 1000px;
}
body {
  background: var(--c-bg);
  color: var(--c-text);
}
input,
textarea {
  background: var(--c-input-bg);
  color: var(--c-text);
}
h1.title,
h2.title {
  background: var(--c-heading-bg);
  color: var(--c-heading-article);
}
h1.title a,
h2.title a {
  color: var(--c-heading-article);
  border-color: var(--c-text-dark);
}
.subpanel {
  background: var(--c-bg-alt);
  color: var(--c-text-dark);
}
.subpanel a {
  color: var(--c-text-dark);
  border-color: var(--c-text-dark);
}
.subpanel a:hover {
  color: var(--c-bg);
}
a {
  color: var(--c-cta);
  border-color: var(--c-cta);
}
a:hover {
  border-radius: 1px;
  background-color: var(--c-cta);
  color: var(--c-bg);
}
.stretch {
  width: 100%;
}
hr {
  border: 0;
  border-top: 1px solid #aaa;
}
figcaption {
  text-align: center;
  font-size: 75%;
  font-style: italic;
  line-height: 1rem;
}
table {
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
}
table thead {
  background: #e3e1e1;
}
table tbody tr:nth-child(2n + 2) {
  background: #f5f5f5;
}
td,
td p {
  font-family: sans-serif;
}
thead {
  /*font-size: 70%;*/
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
th {
  font-weight: 700;
}
td,
th {
  padding: 10px 5px;
  line-height: 1.4;
}
td:first-child {
  padding-right: 30px;
}
tbody td {
  vertical-align: top;
}
blockquote {
  background: #ebebeb url(../images/quotes.svg) no-repeat 8px bottom;
  padding: 10px;
  margin: 10px 0;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  font-family: georgia, times, 'times new roman', serif;
  border-radius: 2px;
}
blockquote p {
  margin: 18px 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
em {
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
strong em {
  font-weight: 600;
}
del {
  text-decoration: strike;
  color: #a4a4a4;
  position: relative;
}
del a {
  color: #a4a4a4;
}
.update del:before {
  font-weight: bold;
  content: '- ';
  color: red;
  position: absolute;
  left: -5px;
  font-size: 80%;
}
sup {
  font-size: 0.7rem;
  vertical-align: super;
}
ins {
  text-decoration: none;
}
ins:before {
  font-weight: bold;
  color: green;
  font-size: 80%;
  content: '+ ';
  position: absolute;
  left: 23px;
}
kbd {
  font-family: 'Ubuntu Mono', menlo, monaco, consolas, courier, 'courier new', 'lucida console', monospace;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 3px;
  background: #f3f3f3;
  box-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  margin: 0 4px;
}
code,
code[class*='language-'] {
  font-family: 'Ubuntu Mono', menlo, monaco, consolas, courier, 'courier new', 'lucida console', monospace;
  background: var(--c-code-bg);
  padding: 2px;
  border-radius: 2px;
}
code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Ubuntu Mono', menlo, monaco, consolas, courier, 'courier new', 'lucida console', monospace;
  background: var(--c-code-bg);
  text-shadow: none;
}
a:hover code,
a:focus code {
  color: black;
  border-top: 3px solid #ffffff;
  background: #bdbdbd;
  background: #ffffff;
}
pre code,
pre[class*='language-'] code {
  color: var(--c-code-fg);
  background: var(--c-code-bg);
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}
pre,
pre[class*='language-'],
.editor {
  padding: 0 0.2em;
  font-family: 'Ubuntu Mono', menlo, monaco, consolas, courier, 'courier new', 'lucida console', monospace;
  margin: 10px 0;
  line-height: 1.475;
  color: var(--c-code-fg);
  background: var(--c-code-bg);
  position: relative;
  border-radius: 3px;
  direction: ltr;
  text-align: left;
  tab-size: 2;
  word-wrap: break-word;
  hyphens: none;
  overflow-x: scroll;
  display: block;
  width: 100%;
  overflow: auto;
  max-width: 100%;
}
pre code,
pre[class*='language-'] code,
.editor code {
  word-wrap: -moz-break-word;
  word-wrap: break-word;
  white-space: pre;
  word-wrap: normal;
  display: table-cell !important;
  /* because iOS is just weird */
  -webkit-text-size-adjust: none;
}
pre .micro-button,
pre[class*='language-'] .micro-button,
.editor .micro-button {
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
  padding: 3px 2px;
  background: none;
  outline: 0;
  border: 0;
  opacity: 0.4;
}
pre .micro-button:hover,
pre[class*='language-'] .micro-button:hover,
.editor .micro-button:hover {
  opacity: 0.7;
}
pre .button,
pre[class*='language-'] .button,
.editor .button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 2px solid #90caf9;
  opacity: 0.6;
  transition: opacity 200ms ease-out;
}
pre .button:hover,
pre[class*='language-'] .button:hover,
.editor .button:hover {
  opacity: 1;
}
ol {
  line-height: 1.3;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.4rem;
}
ol li {
  margin-left: 22px;
}
ul {
  padding-left: 40px;
  list-style: square;
}
article.post h1:first-of-type small {
  display: none;
}
article.post h1:first-of-type:hover small {
  display: inline;
}
article.post li {
  padding-left: 0px;
  margin: 4px 0px;
  font-size: 95%;
  line-height: 1.6;
}
article.post li.checkbox input[type='checkbox'] {
  margin: 8px 11px 8px -30px;
}
ol,
ul {
  margin: 12px 0;
}
ol ul,
ul ul {
  padding-left: 0px !important;
}
ol ul li,
ul ul li {
  margin-left: 20px;
}
ol ol,
ul ol {
  margin: 0;
}
ol h3,
ul h3,
ol p,
ul p {
  margin: 0;
}
ol p + p,
ul p + p {
  margin-top: 14px;
}
ol h3,
ul h3 {
  margin-top: 10px;
}
ol br,
ul br {
  display: none;
}
legend {
  color: #ccc;
  font-size: 120%;
  padding: 0 2px;
}
input,
textarea,
select {
  font-family: sans-serif;
  font-size: 105%;
  padding: 7px;
}
input,
textarea {
  padding: 6px;
  border: 1px solid #aaa;
  background: var(--c-input-bg) no-repeat scroll -3px -3px;
}
input:focus,
textarea:focus {
  border: 1px solid #666;
}
label {
  display: block;
  float: left;
  width: 75px;
  margin: 10px 5px 0 0;
}
form.search label {
  float: none;
  width: auto;
}
.post.archive-page > h1:first-child {
  margin-bottom: 0;
}
.filter-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--c-bg);
  border-bottom: 2px solid var(--c-heading-bg);
}
.filter-group span {
  font-weight: bold;
}
.filter-group input:checked + label {
  background: var(--c-cta);
  color: var(--c-bg-cta);
  border-radius: 50px;
}
.filter-group input {
  position: absolute;
  opacity: 0;
}
.filter-group label {
  font-size: 80%;
  padding: 4px 8px;
  user-select: none;
}
.filter-group label,
.filter-group input {
  float: none;
  display: inline;
  margin: initial;
  cursor: pointer;
}
.filter-group .blog label:before {
  content: '📝 ';
}
.filter-group .links label:before {
  content: '🔗 ';
}
.filter-group .newsletters label:before {
  content: '📬 ';
}
.filter-group .til label:before {
  content: '🤔 ';
}
.filter-group .devlog label:before {
  content: '💻 ';
}
@media only screen and (max-width: 720px) {
  .filter-group {
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 10px !important;
  }
  .filter-group span {
    display: block;
    width: 100%;
  }
  .filter-group div {
    margin-right: 20px;
  }
}
textarea {
  height: 100px;
  width: 97%;
}
a.anchor {
  padding: 0 6px 0 30px;
  position: absolute;
  left: 0;
}
a.anchor:hover {
  background: transparent;
  outline: none;
}
a.anchor span:before {
  margin-left: -30px;
}
.hljs {
  background: #eaeeef;
  color: #555;
}
.post-content,
.comments {
  position: relative;
  margin: 0 40px 20px 40px;
  padding: 0 20px;
}
.follow {
  border: 3px solid #ccc;
  margin: 15px 0;
  padding: 10px;
  margin-top: 28px;
  background: #efefef;
}
.follow #iam,
.follow p {
  color: #999999;
}
.follow h4 {
  margin-top: 0;
}
.follow p {
  font-size: 80%;
  margin: 0;
  line-height: 1.4;
}
.follow a {
  color: #6a6a6b;
}
.follow a:hover {
  background: transparent;
}
.follow .note {
  color: #aaa;
}
.update {
  border: 1px solid #212121;
  border-radius: 2px;
  padding: 14px 14px;
  background-color: #fffda3;
  background-color: hsla(59, 100%, 82%, 0.3);
  border-color: hsl(59, 100%, 40%);
  margin: 24px 0;
  font-size: 85%;
  line-height: 1.4;
}
.update pre,
.update code {
  font-size: 90%;
  margin-left: 0;
  color: #757575;
  background: #fff59d;
  min-width: auto;
}
.update small {
  display: block;
}
.update p:first-child {
  margin-top: 0px;
}
.update p:last-child {
  margin-bottom: 0;
}
.post-meta {
  font-size: 90%;
}
time {
  font-weight: 400;
}
#index-page h1.title {
  margin: 0;
  margin-bottom: 20px;
  line-height: 48px;
  font-size: 48px;
  font-weight: 500;
  padding: 20px 60px;
}
#index-page h1.title img {
  z-index: 1;
  vertical-align: bottom;
}
ul.links {
  margin-right: 40%;
}
#elsewhere .post-content {
  overflow: hidden;
}
.post-content img,
.post-content video {
  display: block;
  margin: 0 auto;
}
.post-content ul {
  padding-left: 20px;
}
.post-content ul + h3 {
  margin-top: 28px;
}
.lists ul {
  box-sizing: border-box;
  clear: left;
}
.lists ul.flickr {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  float: right;
  width: 40%;
  margin: 0px;
}
.lists ul.flickr a {
  background: transparent;
}
.lists ul.flickr img {
  display: block;
  border-radius: 2px;
}
.lists ul.flickr li {
  margin: 1px;
  min-width: 75px;
  min-height: 75px;
  width: 32%;
  height: 32%;
  display: block;
  float: left;
  padding: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.lists ul.flickr:hover li {
  opacity: 0.5;
}
.lists ul.flickr:hover li:hover {
  opacity: 1;
}
small.edit {
  margin-left: 10px;
  font-size: 50%;
  bottom: 25px;
}
small.edit a {
  opacity: 0.5;
  -webkit-transition: opacity 50ms ease-out;
  -moz-transition: opacity 50ms ease-out;
  -o-transition: opacity 50ms ease-out;
  -ms-transition: opacity 50ms ease-out;
  transition: opacity 50ms ease-out;
}
h1:hover small.edit a,
small.edit a:focus {
  opacity: 0.5;
}
time.date,
small.date {
  font-size: 75%;
}
body > footer {
  padding: 10px 60px;
  clear: both;
  font-size: 90%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
body > footer .row + h2 {
  margin-top: 28px;
}
body > footer p {
  line-height: 1.4;
}
body > footer ul {
  padding-left: 1.4rem;
}
body > footer .license p {
  margin: 12px 0;
}
body > footer h2 {
  line-height: 1.4;
}
.no-flexboxlegacy body > footer {
  *zoom: 1;
}
.no-flexboxlegacy body > footer:before,
.no-flexboxlegacy body > footer:after {
  display: table;
  content: '';
  line-height: 0;
}
.no-flexboxlegacy body > footer:after {
  clear: both;
}
.no-flexboxlegacy body > footer > * {
  float: left;
}
body > footer .archives {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width: 22%;
  padding-right: 1em;
  overflow: hidden;
}
body > footer .links {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-width: 33%;
  padding-right: 1em;
  overflow: hidden;
}
body > footer .license {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  min-width: 44%;
}
.warning {
  background: #ff4136;
  padding: 10px 50px;
  color: #fdfdfd;
  font-size: 120%;
  font-weight: bold;
  border: 10px dashed #9c0900;
}
#drafts-index-page .post-content ul {
  padding: 0;
}
#drafts-index-page .post-content li small,
#drafts-index-page .post-content li a {
  margin-right: 10px;
}
#drafts-index-page .inprogress {
  color: #ffb733;
}
#drafts-index-page .unfinished {
  color: #ffa19c;
}
#drafts-index-page .ready {
  color: #25a233;
}
#drafts-index-page .draft-post {
  opacity: 0.5;
}
#drafts-index-page .draft-complete {
  font-weight: 500;
}
#drafts-index-page .draft-0 {
  opacity: 1;
}
#drafts-index-page .draft-1 {
  opacity: 0.9;
}
#drafts-index-page .draft-2 {
  opacity: 0.8;
}
#drafts-index-page .draft-3 {
  opacity: 0.7;
}
#drafts-index-page .draft-4 {
  opacity: 0.6;
}
div.search-result {
  font-size: 80%;
  line-height: 1.3rem;
  background: #f0f0f0;
  padding: 10px;
}
div.search-result pre,
div.search-result pre code {
  background: #606060;
  color: #ededed;
}
div.search-result pre .highlight,
div.search-result pre code .highlight {
  color: #606060;
}
div.search-result code {
  font-size: 100%;
}
div.search-result .highlight {
  background: #ffdc00;
  padding: 4px;
}
#ethos-page .post-content img {
  display: block;
  margin: 0 auto;
}
#ethos-page hr {
  margin: 20px 0;
}
#ethos-page h2 + blockquote {
  margin: 30px 0 30px 0;
}
.twitter-tweet {
  margin: 10px auto !important;
}
ul li.donate a {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 16px;
}
ul li.donate a:hover {
  background: none;
}
ul li.donate a .liked {
  display: inline-block;
  left: -23px;
  position: absolute;
  width: 70px;
  height: 50px;
  background: url(/images/liked.svg) no-repeat;
  background-position: 0 0;
  top: -12px;
}
ul li.donate a .liked:hover {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}
ul li.donate a img {
  opacity: 0.7;
  height: 16px;
  vertical-align: middle;
  transition: opacity ease-out 50ms;
}
ul li.donate a img:hover {
  opacity: 1;
}
img.half {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
.half {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.grid-2x2 img {
  object-fit: contain;
}
abbr {
  text-decoration: none;
  border-bottom: 1px dotted #000000;
}
#notice {
  font-weight: 200;
  box-shadow: 0px 0px 46px -7px rgba(255, 249, 51, 0.42);
  position: static;
  display: block;
  position: relative;
  background: #37361c;
  color: white;
  padding: 5px 20px;
  border: 2px solid #4c4f28;
  padding: 10px 20px;
  text-align: center;
}
#notice a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
#notice a:hover {
  text-decoration: underline;
  background: transparent;
}
#notice * {
  margin: 0;
}
details summary {
  cursor: pointer;
}
details summary:after {
  content: ' (click to expand)';
  font-size: 80%;
}
#subscribe-form p {
  color: black;
}
#subscribe-form input {
  height: 40px;
  vertical-align: middle;
}
#subscribe-form input {
  border-radius: 2px;
}
#subscribe-form input[type='email'],
#subscribe-form input[type='text'] {
  width: 100%;
  font-size: 16px;
  border: 1px solid #1b95e0;
}
#subscribe-form input[type='submit'] {
  border: 1px solid #1b95e0;
  background: #1b95e0;
  color: white;
  padding: 0 10px;
  cursor: pointer;
  font-size: 90%;
}
#subscribe-form input[type='submit']:hover {
  background: black;
  border-color: black;
}
#subscribe-form input:hover {
  border-color: #13689c;
}
.multi-column {
  padding: 0 10px;
}
.multi-column:first-child {
  padding-left: 0;
}
.multi-column:last-child {
  padding-right: 0;
}
.row {
  display: block;
  overflow: hidden;
}
.row > * {
  box-sizing: border-box;
  position: relative;
}
.row > .row {
  padding: 0;
}
.row .c1 {
  width: 100%;
  margin-bottom: 10px;
}
.row .c2 {
  padding: 0 10px;
}
.row .c2:first-child {
  padding-left: 0;
}
.row .c2:last-child {
  padding-right: 0;
}
.row .c2.s1 {
  width: 50%;
  float: left;
  overflow: hidden;
}
.row .c3 {
  padding: 0 10px;
}
.row .c3:first-child {
  padding-left: 0;
}
.row .c3:last-child {
  padding-right: 0;
}
.row .c3.s1 {
  width: 33%;
  float: left;
  overflow: hidden;
}
.row .c3.s2 {
  width: 66%;
  float: left;
  overflow: hidden;
}
.row .c4 {
  padding: 0 10px;
}
.row .c4:first-child {
  padding-left: 0;
}
.row .c4:last-child {
  padding-right: 0;
}
.row .c4.s1 {
  width: 25%;
  float: left;
  overflow: hidden;
}
.row .c4.s3 {
  width: 75%;
  float: left;
  overflow: hidden;
}
#avatar {
  border-radius: 100px;
  border-bottom-right-radius: 0;
  border: 0px solid #808080;
  float: left;
  margin-right: 10px;
  width: 60px;
}
.metadata {
  color: #5f5f5f;
  font-size: 80%;
}
.metadata a {
  color: #5f5f5f;
  border-color: #5f5f5f;
}
.metadata a:hover {
  color: white;
}
.bio {
  line-height: 1.2rem;
  font-size: 90%;
}
#follow-rem {
  display: block;
  font-size: 60%;
}
.workshop-ad,
.workshop-ad:hover {
  z-index: 1;
  position: relative;
  display: block;
  float: right;
  box-sizing: border-box;
  background: #fdfdfd;
  border: 2px solid gainsboro;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: black;
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 9rem;
}
.workshop-ad img,
.workshop-ad:hover img {
  float: left;
  max-width: 100%;
  margin-bottom: 5%;
}
.workshop-ad p,
.workshop-ad:hover p {
  margin-top: 14px;
  margin-bottom: 0;
  line-height: 1rem;
}
.workshop-ad p:last-child,
.workshop-ad:hover p:last-child {
  font-size: 90%;
}
.ad {
  font-size: 80%;
  width: 100%;
  float: initial;
  margin: 0;
  display: block;
  background: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  border: 0;
  border-left: 4px solid #ccc;
  padding: 0 0 0 10px;
  font-weight: 400;
}
.ad * {
  line-height: 1.6;
}
.ad .cs__footer,
.ad .cs__header {
  font-size: 80%;
  color: #999;
}
.ad .cs__footer a,
.ad .cs__header a {
  color: #999;
  border-bottom: 0;
}
.ad a:hover {
  background: none;
  text-decoration: underline;
}
.ad .cs__footer {
  font-style: italic;
}
.ad .cs__blurb {
  padding: 0;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 0;
  font-size: 120%;
}
.ad:hover,
.ad:focus {
  padding: 0 0 0 10px;
  border-color: #4caf50;
  background: none;
}
.ad:hover .cs__blurb,
.ad:focus .cs__blurb {
  text-decoration: underline;
}
.ad img {
  float: left;
  max-height: 150px;
  margin-right: 20px;
}
.ad img.cs__pixel {
  height: 1px;
  width: 1px;
  margin: 0;
}
.ad p {
  margin: 0;
}
.ad .label {
  font-size: 70%;
  height: inherit;
  display: inline-block;
  margin-right: 5px;
  background: #4caf50;
  line-height: initial;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  vertical-align: text-top;
}
.ad .desc {
  font-size: 80%;
  line-height: 1.6;
}
.ad:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: gainsboro;
  color: white;
  font-size: 70%;
  padding: 0 5px;
  border-bottom-left-radius: 2px;
}
.ad:hover:after {
  background: #ccc;
}
.ad + p img {
  max-width: 450px;
  width: 100%;
  margin-right: 0;
}
.centre {
  margin: 0 auto;
  display: block;
}
.centre > img {
  margin: 0 auto;
  display: block;
}
.talk .tag {
  font-size: 80%;
  text-transform: lowercase;
  background: var(--c-text-dark);
  color: var(--c-bg);
  border-radius: 3px;
  padding: 2px 5px;
}
.talk time {
  color: #9c9c9c;
  font-size: 80%;
  margin: 0 5px;
}
.talk-links a {
  margin-right: 10px;
}
a.plain {
  color: inherit;
  border-bottom: 0;
}
a.plain:hover,
a.plain:focus {
  background: none;
  text-decoration: underline;
}
a[title='simple-link'] {
  border-bottom: none;
}
a[title='simple-link']:hover {
  background: transparent;
}
.bash-prompt {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
.button {
  background: #2196f3;
  text-decoration: none;
  display: table;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 400;
  border: 0;
  text-align: center;
  font-size: 90%;
  transition: transform 100ms ease-out;
  cursor: pointer;
}
.button:hover {
  background: #1976d2;
  padding: 5px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.like-link {
  border: 0;
  background: none;
  font-size: inherit;
  color: var(--c-cta);
  text-decoration: none;
  font-weight: inherit;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid var(--c-cta);
}
.like-link:hover,
.like-link:focus {
  background: var(--c-cta);
  color: var(--c-bg);
  border-bottom: none;
  text-decoration: none;
  padding: 2px 0;
}
.runnable[contenteditable] {
  outline: none;
}
.jsconsole {
  width: 100%;
  border: 0;
}
ul.inline {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul.inline li {
  padding: 0;
  display: inline;
  min-width: 85px;
}
ul.inline li .label {
  font-size: 80%;
  color: #999;
  margin-left: 3px;
}
img[title^='Sample'] {
  border-radius: 2px;
}
#subscribe-form .ck_opt_in_prompt {
  display: block;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 30px;
}
#subscribe-form #optIn {
  float: left;
  height: auto;
}
.flush img {
  width: 100%;
}
.ck_form_container.ck_inline .ck_guarantee {
  line-height: 20px;
  margin-top: 10px;
  opacity: 0.8;
}
.ck_form_container.ck_inline .ck_form {
  box-shadow: none;
  border: 0;
  background: var(--c-bg) !important;
}
.ck_form_container.ck_inline .ck_form input {
  background: var(--c-input-bg);
}
.ck_form_container.ck_inline .ck_form .ck_form_content {
  padding-left: 0;
}
.ck_form_container.ck_inline .ck_form .ck_form_fields {
  padding-right: 0;
}
.ck_form_container.ck_inline .ck_form .ck_opt_in_prompt p {
  margin-left: -7px;
}
.ck_form_container.ck_inline .ck_description img {
  vertical-align: middle;
}
.ck_form_container.ck_inline .ck_checkbox,
.ck_form_container.ck_inline label {
  width: 100%;
}
.ck_form_container.ck_inline .ck_powered_by {
  border: 0;
  color: #999999;
}
.ck_form_container.ck_inline .ck_powered_by:hover {
  padding: 0;
  outline: 0;
  background: transparent;
}
a.cta,
a.cta:hover {
  text-decoration: none;
  border: 1px solid var(--c-input-bg);
  display: flex;
  align-items: center;
  padding: 0px;
  background: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: var(--c-bg-cta);
}
a.cta:hover,
a.cta:hover:hover {
  border-color: #ccc;
}
a.cta img,
a.cta:hover img {
  max-height: 140px;
  min-width: 140px;
  margin-right: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}
a.cta > div,
a.cta:hover > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
a.cta p,
a.cta:hover p {
  margin: 0;
  flex-grow: 1;
}
a.cta p:last-child,
a.cta:hover p:last-child {
  flex-grow: 0;
}
a.cta .label,
a.cta:hover .label {
  font-size: 70%;
  height: inherit;
  display: inline-block;
  margin-right: 5px;
  background: #4caf50;
  line-height: initial;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  vertical-align: text-bottom;
}
a.cta .desc,
a.cta:hover .desc {
  font-size: 80%;
  line-height: 1.6;
}
a.cta:after,
a.cta:hover:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: gainsboro;
  color: white;
  font-size: 70%;
  padding: 0 5px;
  border-bottom-left-radius: 2px;
}
a.cta:hover:after,
a.cta:hover:hover:after {
  background: #ccc;
}
@media only screen and (min-width: 1920px) {
  body {
    max-width: 1000px;
    font-size: 1.35em;
    line-height: 1.6;
    font-weight: 300;
  }
  strong {
    font-weight: 500;
  }
  h2 {
    font-size: 140%;
  }
  ul.inline li {
    min-width: 120px;
  }
}
@media only screen and (min-width: 721px) {
  .flush {
    margin-left: -60px;
    margin-right: -60px;
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  .lists ul.flickr {
    margin: 12px 0;
  }
  .flush {
    margin-left: -10px;
    margin-right: -10px;
    display: block;
  }
  body {
    font-size: 90%;
    font-size: 0.9em;
    line-height: 28px;
  }
  .post-content,
  .misc-content,
  .comments {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }
  .post-content li {
    padding-left: 8px;
  }
  .post-content a.anchor {
    position: static;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 10px;
    padding-left: 10px;
  }
  .post-content a.anchor span:before {
    margin-left: 0;
  }
  #index-page h1.title,
  #index-page h2.title,
  .post h1.title {
    margin: 0;
    padding: 20px 10px;
  }
  ul.post-nav li {
    padding: 10px;
  }
  ul {
    padding-left: 20px;
  }
  small.edit {
    bottom: 0;
    left: 0;
  }
  .warning {
    padding: 10px;
  }
  body > footer {
    padding: 0 10px;
  }
  body > footer p {
    line-height: 22px;
  }
  body > footer .archives {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
  body > footer .links {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
  body > footer .license {
    -webkit-box-flex: 2 auto;
    -moz-box-flex: 2 auto;
    -webkit-flex: 2 auto;
    -ms-flex: 2 auto;
    flex: 2 auto;
  }
  pre,
  pre[class*='language-'] {
    margin-left: -10px;
    padding-left: 5px;
    border-radius: 0;
    border: 0;
    min-width: 110%;
    min-width: 100vw;
  }
  pre .button,
  pre[class*='language-'] .button {
    right: 3rem;
  }
  pre code,
  pre code[class*='language-'] {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 412px) {
  html,
  body {
    font-size: initial;
    font-weight: normal;
  }
  p,
  li {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  ul.post-nav li.search a {
    width: 20px;
  }
  a.cta div.cta-image {
    background: none !important;
  }
  a.cta img {
    display: none;
  }
  ul a {
    line-height: 1.6rem;
  }
  .archives li,
  .links li {
    line-height: 1.6rem;
  }
  #elsewhere ul.elsewhere {
    margin-right: 0;
  }
  #elsewhere ul.flickr {
    display: block;
    position: relative;
    width: auto;
    float: none;
    margin: 10px auto;
    overflow: hidden;
  }
  #elsewhere ul.flickr li {
    box-sizing: border-box;
    width: 32%;
    height: auto;
  }
  #elsewhere ul.flickr li img {
    width: 100%;
  }
  #elsewhere ul.links {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 412px) {
  .ffconf-ad,
  .cta,
  .ffconf-ad:hover {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    font-size: 90%;
    padding: 0.7rem;
  }
  .ffconf-ad img,
  .cta img,
  .ffconf-ad:hover img {
    width: 45%;
    float: left;
    margin-bottom: 0;
    margin-right: 5%;
  }
  .ffconf-ad p,
  .cta p,
  .ffconf-ad:hover p {
    margin-top: 0;
    margin-bottom: 14px;
  }
}
.form_container {
  max-width: 600px;
  margin: 0 auto;
}
.form_container form {
  padding: 20px 0;
}
.form_container input.required:invalid,
.form_container textarea.required:invalid {
  border: 1px solid #d32f2f;
}
.form_container .fields {
  margin-bottom: 20px;
}
.form_container .fields label {
  color: #666;
  font-size: 90%;
}
.form_container .fields input,
.form_container .fields textarea,
.form_container .fields label {
  float: none;
  display: block;
  width: 100%;
}
.form_container .fields input,
.form_container .fields textarea {
  border-radius: 2px;
}
.form_container .fields .mini {
  max-width: 200px;
}
.form_container .fields .button {
  margin: 40px 0;
  font-size: 110%;
  padding: 10px 20px;
}
#index-page.month-december h1.title:before {
  content: '';
  background: url(/images/santa-hat.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 45px;
  height: 100%;
  top: 1px;
  left: 57px;
}
@media only screen and (max-width: 720px) {
  #index-page.month-december h1.title:before {
    left: 6px;
  }
}
.review-image {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 5px solid #ffffff;
  border-radius: 2px;
}
.review-break {
  border-width: 2px;
}
#search-results {
  padding-left: 0;
}
#search-results a[href] ~ time:before,
.archive-page a[href] ~ time:before {
  margin-left: 4px;
  content: '📝 ';
}
#search-results a[href^='/links/'] ~ time:before,
.archive-page a[href^='/links/'] ~ time:before {
  content: '🔗 ';
}
#search-results a[href^='/newsletters/'] ~ time:before,
.archive-page a[href^='/newsletters/'] ~ time:before {
  content: '📬 ';
}
#search-results a[href^='/til/'] ~ time:before,
.archive-page a[href^='/til/'] ~ time:before {
  content: '🤔 ';
}
#search-results a[href^='/devlog/'] ~ time:before,
.archive-page a[href^='/devlog/'] ~ time:before {
  content: '💻 ';
}
video {
  width: 100%;
}
.video {
  position: relative;
  padding-top: 62%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#remysharp-com .twitter-badge {
  margin: 0;
  padding: 0;
  font: normal normal normal 11px/18px 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  display: table;
}
#remysharp-com .twitter-badge a {
  outline: 0;
  text-decoration: none;
  border-color: transparent;
  border-bottom: 0;
}
#remysharp-com .twitter-badge a:hover {
  background: none;
}
#remysharp-com .twitter-badge #count {
  background: white;
}
#remysharp-com .twitter-badge #count,
#remysharp-com .twitter-badge .btn,
#remysharp-com .twitter-badge .btn .label,
#remysharp-com .twitter-badge .btn-o,
#remysharp-com .twitter-badge .count-o {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
#remysharp-com .twitter-badge .btn-o {
  max-width: 100%;
}
#remysharp-com .twitter-badge a.btn {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #31759f;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}
#remysharp-com .twitter-badge a.btn:active,
#remysharp-com .twitter-badge a.btn:focus,
#remysharp-com .twitter-badge a.btn:hover {
  background-color: #0c7abf;
}
#remysharp-com .twitter-badge a.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}
#remysharp-com .twitter-badge a.btn i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}
#remysharp-com .twitter-badge a.btn .label {
  margin-left: 3px;
  white-space: nowrap;
}
#remysharp-com .twitter-badge a.btn .label b {
  font-weight: 500;
  white-space: nowrap;
}
#remysharp-com .twitter-badge .aria {
  position: absolute;
  left: -999em;
}
#remysharp-com .twitter-badge .count-o {
  position: relative;
  background: #fff;
  border: #8799a6 solid 1px;
  border-radius: 3px;
  visibility: hidden;
  min-height: 18px;
  min-width: 15px;
  text-align: center;
}
#remysharp-com .twitter-badge #count {
  white-space: nowrap;
  color: #292f33;
}
#remysharp-com .twitter-badge #count:focus,
#remysharp-com .twitter-badge #count:hover {
  color: #333;
  text-decoration: underline;
}
#remysharp-com .twitter-badge .ncount .count-o {
  display: none;
}
#remysharp-com .twitter-badge.count-ready .count-o {
  visibility: visible;
}
#remysharp-com .twitter-badge .count-o i,
#remysharp-com .twitter-badge .count-o u {
  position: absolute;
  zoom: 1;
  line-height: 0;
  width: 0;
  height: 0;
  left: 0;
  top: 50%;
  margin: -4px 0 0 -4px;
  border: 4px transparent solid;
  border-right-color: #66757f;
  border-left: 0;
}
#remysharp-com .twitter-badge .count-o u {
  margin-left: -3px;
  border-right-color: #fff;
}
#remysharp-com .twitter-badge.hcount .count-o {
  margin: 0 0 0 5px;
}
#remysharp-com .twitter-badge.hcount #count {
  padding: 0 5px;
}
table.reviews {
  font-size: 14px;
  width: 100%;
}
table.reviews tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
}
table.reviews thead select {
  font-size: 100%;
  border: 0;
  background: none;
  font-weight: bold;
  vertical-align: bottom;
  margin-left: -8px;
}
table.reviews tbody tr td:nth-child(1) {
  padding-right: 8px;
}
table.reviews p.review-link {
  margin: 4px 0 0 0;
}
table.reviews p.review-link a {
  white-space: nowrap;
}
table.reviews tbody tr td:nth-child(1) {
  white-space: nowrap;
}
@media only screen and (min-width: 500px) {
  table.reviews tbody tr td:nth-child(3) {
    white-space: nowrap;
  }
  table.reviews span.rating span {
    display: none;
  }
  table.reviews span.rating[data-rating="5"]:before {
    content: '★★★★★';
  }
  table.reviews span.rating[data-rating="4"]:before {
    content: '★★★★☆';
  }
  table.reviews span.rating[data-rating="3"]:before {
    content: '★★★☆☆';
  }
  table.reviews span.rating[data-rating="2"]:before {
    content: '★★☆☆☆';
  }
  table.reviews span.rating[data-rating="1"]:before {
    content: '★☆☆☆☆';
  }
}
.contains-task-list {
  list-style: none;
}
.DISABLED-task-list-item {
  padding-left: 20px;
}
.DISABLED-task-list-item label {
  float: none;
  margin: initial;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.DISABLED-task-list-item label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.DISABLED-task-list-item label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  line-height: 1.4;
}
.DISABLED-task-list-item input[type='checkbox'],
.DISABLED-task-list-item input[type='radio'] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.DISABLED-task-list-item input[type='checkbox']:focus + label::before,
.DISABLED-task-list-item input[type='radio']:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.DISABLED-task-list-item input[type='checkbox']:checked + label::after,
.DISABLED-task-list-item input[type='radio']:checked + label::after {
  content: ' ';
  background-image: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"/></svg>');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.DISABLED-task-list-item input[type='checkbox']:indeterminate + label::after,
.DISABLED-task-list-item input[type='radio']:indeterminate + label::after {
  display: block;
  content: '';
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.DISABLED-task-list-item input[type='checkbox']:disabled,
.DISABLED-task-list-item input[type='radio']:disabled {
  cursor: not-allowed;
}
.DISABLED-task-list-item input[type='checkbox']:disabled + label,
.DISABLED-task-list-item input[type='radio']:disabled + label {
  opacity: 0.65;
}
.DISABLED-task-list-item input[type='checkbox']:disabled + label::before,
.DISABLED-task-list-item input[type='radio']:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.popular li div {
  font-size: 90%;
  margin-bottom: 20px;
}
.currently-reading > div {
  display: flex;
  border: 0;
  padding: 0;
  font-size: 90%;
  align-items: flex-start;
  margin-bottom: 10px;
}
.currently-reading > div p {
  font-size: 90%;
  line-height: 1rem;
  margin: 4px 0;
}
.currently-reading > div img {
  height: 100%;
  flex-grow: 0;
  margin: 0 10px 0 0;
}
.webmentions img {
  width: 44px;
  height: 44px;
  margin: 0;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}
.webmentions {
  display: flex;
  justify-content: flex-start;
}
.webmentions p {
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0;
}
.webmentions div {
  flex-grow: 1;
  margin-left: 20px;
  line-height: 0;
}
.webmentions .more-likes {
  box-sizing: content-box;
}
.webmentions a,
.webmentions a:hover,
.webmentions .more-likes {
  display: inline-block;
  margin-left: -8px;
  border: 2px solid white;
  border-radius: 50%;
  background: white;
}
.cta-big-btn {
  display: block;
  background: #1565c0;
  border: 2px solid #1565c0 !important;
  color: white !important;
  text-align: center;
  padding: 8px;
  margin: 32px 0;
  border-radius: 2px;
  transition: all 100ms ease-out;
}
.cta-big-btn:hover {
  transform: translate(-2px, -1px);
  border: 2px solid #1565c0;
  background: rgba(0, 0, 0, 0);
  color: #1565c0 !important;
  padding: 8px;
  box-shadow: 2px 2px 0px 0px black;
}
body .commento-root * {
  color: var(--c-text);
}
body .commento-root .commento-sort-policy-buttons-container {
  display: none;
}
body .commento-root .commento-logged-container .commento-logged-in-as .commento-name {
  position: relative;
  left: auto;
}
body .commento-root input[type='text'],
body .commento-root textarea {
  background: var(--c-input-bg);
  color: var(--c-input-fg);
}
body .commento-root .commento-logged-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .commento-root .commento-logged-container .commento-logout {
  cursor: pointer;
}
body .commento-root .commento-card .commento-timeago::before,
body .commento-root .commento-card .commento-score {
  display: none;
}
body .commento-root .commento-anonymous-checkbox-container input[type='checkbox'] + label {
  float: none;
  width: auto;
  margin: 0;
}
body .commento-root a {
  color: #1565c0;
}
body .commento-root a:hover {
  background: none;
  padding: 0;
}
body .commento-root .commento-logged-container .commento-logout,
body .commento-root .commento-card .commento-timeago,
body .commento-root .commento-card .commento-score,
body .commento-root .commento-markdown-button,
body .commento-root .commento-login .commento-login-text {
  color: #757575;
}
body .commento-root .commento-card .commento-option-button,
body .commento-root .commento-card .commento-option-sticky,
body .commento-root .commento-card .commento-option-unsticky {
  background: #495057;
}
.token.function,
.token.class-name {
  color: #c82d4d;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6b6d6e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #956a37;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #4f7601;
}
.token.punctuation {
  color: #524949;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0376a8;
}
h2 > label {
  width: 100%;
  float: none;
  margin: 0;
}
.link-listing pre {
  margin-left: 0;
  min-width: 100%;
}
.link-listing time.date {
  white-space: nowrap;
}
.link-listing div.link > div {
  font-size: 80%;
  line-height: 1.4em;
  margin-top: 8px;
}
.link-listing div.link > div:empty {
  display: none;
}
.link-listing div.link > div p + p {
  margin-top: 8px;
}
.link-listing div.link p {
  margin: 0;
}
.link-listing div.link p.tags {
  margin-top: 0;
}
.link-listing div.link {
  margin-bottom: 24px;
  margin-left: 20px;
}
.link-listing .link:before {
  content: '¶';
  float: left;
  margin-left: -20px;
}
.link-listing p.tags {
  font-size: 80%;
}
#til-page main.content,
#devlog-page main.content {
  padding-bottom: 20px;
}
#til-page h2,
#devlog-page h2 {
  margin-bottom: 8px;
}
